.main-announcement {
	display: block;
	border: 2px solid #ed2024;
	margin-bottom: 80px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
}

.main-announcement-title, .main-announcement-title a {
	font-family: 'Helvetica Bold', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 1.13;
    text-align: left;
    color: #262626;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 20px 0;
    vertical-align: top;
}

.main-announcement-text, .main-announcement-text a {
    font-family: 'Helvetica Regular', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.5px;
    text-align: justify;
    color: #262626;
    text-decoration: none;
    margin: 0 0 20px 0;
}

.main-announcement-text p {
	margin-bottom: 10px;
}

.main-announcement-button {
    display: inline-block;
    border: none;
    margin: 0;
    font-family: inherit;
    letter-spacing: .6px;
    text-decoration: none;
    font-family: 'Helvetica Bold', sans-serif;
    line-height: 1.83;
    font-size: 12px;
    text-transform: uppercase;
    padding: 11px 34px 7px;
    cursor: pointer;
    background-color: #ed2024;
    color: #f8f8f8;
}

.externallink {
	background-position: center right;
	background-repeat: no-repeat;
	background-image: url(../w/skins/Vector/images/external-link-ltr-icon88e4.html?325de);
	background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%23262626%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%23262626%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
	padding-right: 13px;
}

.centered {
	text-align: center !important;
}

@media(max-width: 1279px) {
	.main-announcement {
		margin-top: 40px;
		margin-bottom: 40px;
		width: 99%;
	}
	
	.main-announcement-text, .main-announcement-text a {
		text-align: left;
	}

}



.medianeedssomespace {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.downloadicon {
	height: 18px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.underline {
  text-decoration: underline;
}

.downloaddate {
	color: #999999;
	padding-right: 10px;
	width: 200px;
	display: inline-block;
}


@media (max-width: 380px) {
	.downloadicon {
		padding-right: 2px;
	}
	.downloaddate {
		padding-right: 2px;
	}
}

@media (max-width: 1279px) {
	.downloaddate {
		width: 150px;
	}
}

@media (max-width: 800px) {
	.downloaddate {
		display: inline;
	}
	.downloaddate:after {
		content: "\A";
     	white-space: pre;
	}
}

.imgcolumn1 {
  float: left;
  width: 100%;
}

.imgcolumn2 {
  float: left;
  width: 50%;
}

.imgcolumn2:nth-of-type(1) {
	padding-right: 5px;
}

.imgcolumn2:nth-of-type(2) {
	padding-left: 5px;
}

.imgrow::after {
  content: "";
  clear: both;
  display: table;
}

.imgrow {
	margin-top: 10px;
}


@media (max-width:800px) {

	.imgcolumn2:nth-of-type(1) {
		padding-right: 0;
	}
	
	.imgcolumn2:nth-of-type(2) {
		padding-left: 0;
	}
	
	.imgcolumn2 {
	  float: left;
	  width: 100%;
	}
	
	.imgcolumn1 {
	  float: left;
	  width: 100%;	
	}
	
}

.credit {
	font-size: 10px;
	color: #999999;
	font-style: italic;
	text-align: left;
}

.picsubtitle {
	font-size: 12px;
	color: #777777;
	font-style: italic;
	text-align: center;
}

.simplecite {
    color: #999999;
    display: block;
    text-align: left;
    margin-top: 1em;
    font-style: italic;
}

.disclaimer {
	font-size: 12px;
	color: #999999;
	text-align: justify;
}

@media (max-width: 1279px) {
	.disclaimer {
		font-size: 10px;
		text-align: left;
	}
}




